
canvas.paint {
    border: 1px solid #000;
}

.color-preview {
    background-color: red;
    width: 90px;
    height: 20px;
    display: inline-block;
    margin: 3px;
    top: 5px;
    position: relative;
}
